body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: arial;
    font-variant: small-caps;
    font-weight: lighter;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    background-color: black;
    color: white;
    display: inline;
    padding: 4px 6px;
}

.line {
    border: 2px solid black;
    width: 100%;
    margin-top: 20px;
}

.subtext {
    display: inline;
    margin-bottom: 80px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.subtext h4 {
    margin: 0;
}

#main {
    background-color: black;
    color: white;
    width: 80%;
}

form {
    margin: 60px 0 60px 60px;
}

form h4 {
    background-color: white;
    color: black;
    display: inline;
    padding: 5px;
}

form input {
    border-color: black;
    margin-top: 20px;
}

form input[type="file"] {
    display: none;
}

form .custom-file-upload {
    border: 1px solid black;
    display: inline;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 7px 7px 0 0;
}

form button {
    margin      : 7px 0 0 0;
    padding     : 0 3px;
    border      : 1px solid black;
    background  : white;
    font-family : inherit;
    font-weight : bold;
    font-size   : 1em;
    cursor      : pointer;
}

form button:active {
    position: relative;
    top: 2px;
}

#img-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}

.img-card {
    border: 1px solid white;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    flex-grow: 4;
    text-align: center;
}

#more-card {
    flex-grow: 1;
}

.img-card:hover {
    transform: scale(1.05);
    background-color: white;
    color: black;
}

#more-card:hover {
    background-image: url('/more.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    padding-top: 300px;
    transform: scale(1.05);
    background-color: white;
    color: white;
    text-align: center;
    cursor: pointer;
}

.img-card img {
    display: block;
    height: 300px;
    margin: 10px auto;
}

.img-card p {
    margin: 30px 0;
}

#img-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 70%;
    height: 90%;
    margin: auto;
    color: black;
}

.modal-content h6 {
    margin: 3px 0;
}

.img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-section .prevButton, .img-section .nextButton {
    position: absolute;
    border-style: none;
    height: 50px;
    z-index: 5;
    padding: 0;
    top: 25%;
    cursor: pointer;
}

.img-section .nextButton {
    left: 25%;
}

.img-section .prevButton {
    right: 25%;
}

.img-section img {
    position: fixed;
    top: 70px;
    padding: 10px 10px 130px 10px;
    height: 400px;
    width: auto;
    border: 1px solid black;
}

.img-section h3 {
    margin-top: 450px;
}

.img-section p {
    text-align: justify;
}

.comments-section {
    margin-top: 50px;
    margin-left: 20px;
    width: 65vw;
}

.comments-section h4 {
    display: inline;
    background-color: black;
    color: white;
    padding: 5px;
}

.comments-section input {
    border: 1px solid black;
}

.comments-section button {
    margin: 7px 0 20px 0;
    padding: 0 3px;
    border: 1px solid black;
    background: white;
    color: black;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
}

#comment-container {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.comment-card {
    border: 1px solid black;
    width: 99%;
    margin-top: 5px;
}

.comment-card p {
    margin-left: 5px;
}

footer {
    margin-top: 30px;
}

footer h6 {
    font-size: 1.3rem;
    display: inline;
    color: white;
    background-color: black;
    padding: 5px;
}
